.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: float infinite 3s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #262833;
  color: #ffffff;
}

.App-link {
  color: #ffb703;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
