.timer {
  border: 3px double #ffb703;
  text-align: center;
  margin: 2% auto;
  border-radius: 5%;
  font-size: 1.5rem;
  padding: 1rem;
  color: #ffffff;
  background-color: #262833;
}

#timer {
  color: #ffb703;
  margin-left: 1rem;
}
