/* Base styles for the entire application */
body {
  background-image: url(../../public/background-trigo.webp);
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333333;
  line-height: 1.6;
  min-height: 100vh; /* Aseguramos que el contenido ocupe toda la pantalla */
  overflow-x: hidden; /* Evita scroll horizontal innecesario */
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: white;
  text-decoration: underline;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

/* Global responsiveness */
@media (max-width: 768px) {
  body {
    font-size: 0.9rem; /* Ajusta el tamaño de fuente */
  }
}
