.mainContainer {
  height: 100vh;
  display: flex;
  background-color: #262833;
}

.contentContainer {
  background: white;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1rem;
}

.buttonsContainer {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.buttons {
  background-color: #ffb703;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: #fb8500;
}
