.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sideContainer {
  background-color: #262833;
  width: 300px;
  color: #ffffff;
  padding: 1.5rem;
}

.contentContainer {
  flex-grow: 1;
  background: url("../../public/fondo.jpg") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
